<div class="splash-screen">
  <!-- Dark Overlay -->
  <div class="overlay"></div>

  <!-- Text Content -->
  <div class="splash-content">
    <p class="welcome">Welcome to </p>
    <h1 class="splash-title">
      <span class="highlight">
        <span>M</span><span>e</span><span>s</span><span>s</span><span>&nbsp;</span>
        <span>N</span><span>e</span><span>a</span><span>r</span><span>&nbsp;</span>
        <span>M</span><span>e</span>
      </span>
    </h1>    
    <p class="splash-subtitle">Where Good Food Meets Convenience!</p>
  </div>

  <!-- Bottom Buttons -->
  <div class="splash-buttons">
    <button class="continue" (click)="openHome()">Get Started</button>
  </div>
</div>
